<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div >
          <div class="row">
            <div class="col-lg-4 left">
              <h3>Beta Conseils</h3>
              <ul>
                <li><a href="#">beta.mr</a></li>
                <li><a href="#">Beta Conseils</a></li>
                <li><a href="#">Contactez nous</a></li>
              </ul>
            </div>
            <div class="col-lg-4 center">
              <h3>Services RH</h3>
              <ul>
                <li><a href="#">Recrutement</a></li>
                <li><a href="#">Conseils RH</a></li>
                <li><a href="#">Assistance emploi</a></li>
              </ul>
            </div>
            <div class="col-lg-4 right">
              <h3>Outils</h3>
              <ul>
                <li><a href="#">Base CV</a></li>
                <li><a href="#">Tests psycho</a></li>
                <li><a href="#">Témoignez</a></li>
              </ul>
            </div>
          </div>
        </div>
        
    </footer>
    <div class="copyright">
      Copyright © Beta Conseils 2001 - 2023  
    </div>
      
</body>
</html>