footer {
  background-color: #CEE8F9;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.left h3,
.center h3,
.right h3 {
  font-size: 20px;
}


.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.copyright {
  background-color: #0C96B1;
  color: white;
  text-align: center;
}